﻿@model NautikuStudios.Models.LocalPasswordModel
@{
    ViewBag.Title = "My Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Right now making an account does nothing. In the near future it will give you early access to our games and forums.</p>

<h2>User Name: <strong>@User.Identity.Name</strong></h2>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
