﻿@{
    ViewBag.Title = "NautikuStudios";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
    <p>
        NautikuStudios is an independent game developer consisting of one programmer, and one artist. Currently we are working on Shoppe, and hope to release a playable alpha soon!
    </p>
</article>