﻿@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section class="contact">
    <p>
        Feel free to email us with any questions you have about our games!
    </p>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:support@nautikustudios.com">support@nautikustudios.com</a></span>
    </p>
    <p>
        <span class="label">Development:</span>
        <span><a href="mailto:nautikus@nautikustudios.com">nautikus@nautikustudios.com</a></span>
    </p>
</section>