﻿@{
    ViewBag.Title = "Donate";
}
<hgroup class="title">
    <h1>Support NautikuStudios</h1>
</hgroup>

<p>
    Please consider supporting NautikuStudios!
</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display:inline">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="AAQVL2EFT687Q">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="Donate to NautikuStudios using PayPal!" style="width:initial;background: initial;padding:initial;border:initial;margin:initial;position:relative;top:5px;">
    <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
