﻿@{
    ViewBag.Title = "Shoppe";
}
<hgroup class="title">
    <h1>Shoppe</h1>
</hgroup>

<p>
    Shoppe is an arcade game about managing an item shop for time travelers. Keep customers happy and watch the profits grow! How big will your Shoppe be?
</p>